#intro_container{
    display: grid;
    grid-template-areas: 
    "img"
    "text"
    "sign";
    width: 80%;
    height: 90%;
    grid-template-rows: 50% 30% auto;
    justify-content: center;
}
#intro_container_mobile{
    position: absolute;
    display: grid;
    grid-template-areas: 
    "top"
    "text"
    "content";
    width: 100%;
    height: 100%;
    grid-template-rows: 50% 25% auto;
    grid-template-columns: 100%;
    justify-content: center;
    /* min-height: max-content; */
    /* overflow-y: auto; */
    position: relative;
}


.intro_img_place{
    grid-area: top;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
    height: 100%;
}

.intro_img_box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    /* height: max-content; */
}
.intro_img{
    object-fit: cover;
    height: 100%;
    max-height: 150px;
}

.intro_text_place{
    grid-area: text;
    display: flex;
    flex-direction: column;;
    justify-content: center;
    align-items: center;
}
.intro_text_box{
    height: 100%;
    display: flex;
    flex-direction: column;;
    justify-content: center;
    align-items: center;
}
.intro_text{
    font-family: 'contents';
    display: flex;
    flex-direction: column;;
    justify-content: center;
    align-items: center;
    width: 100%;
    /* height: 10%; */
    font-size: 1.5rem;
    text-align: center;
}
.intro_text_big{
    font-family: "title";
    font-size: 3rem;

}
.intro_text_big_mobile{
    font-family: "title";
    font-size: 2rem;

}

.intro_button_place{
    height: 90%;
    grid-area: content;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
#intro_button_box{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    /* height: 20%; */
}
.intro_button{
    margin-bottom: 10px;
} 
.intro_content_image{
    height: 250px;
    width: auto;
}
@media (max-width:950px) {
    html{
        height: 100vh;
    }
    #intro_container{
        position: absolute;
        display: grid;
        grid-template-areas: 
        "top"
        "text"
        "content";
        width: 100%;
        height: 100%;
        grid-template-rows: 10% 15% auto;
        grid-template-columns: 100%;
        justify-content: center;
        /* min-height: max-content; */
        /* overflow-y: auto; */
        position: relative;
    }
    
    
    .intro_top_place{
        position: relative;
        grid-area: top;
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .intro_top_button_box{
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .intro_text_place{
        grid-area: text;
    }
    .intro_content_place{
        grid-area: content;
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100%;
        /* height: 100%; */
        max-height: 100%;
        /* overflow-y: auto; */
    }
    #intro_content_box{ 
        width: 50%;
        height: 90%;
        /* max-height: 100%; */
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    .intro_content_item{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 70%;
        height: 100%;
        max-height: max-content;
    }
    .intro_content_image_box{
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: auto;
        height: 50%;
    }
    /*이미지 크기*/
    .intro_content_image{
        /* position: absolute; */
        object-fit: cover;
    height: 100%;
    width: auto;
    max-height: 250px;
    }
}
@media (max-width:950px) {
    #grid_h3{
    margin-bottom: 300px;
}
}


@media (min-width: 951px) {
    
    #intro_container{
        display: grid;
        grid-template-areas: 
        "top"
        "text"
        "content";
        width: 100%;
        height: 90%;
        grid-template-rows: 10% 30% auto;
        grid-template-columns: 100%;
        justify-content: center;
    }
    .intro_top_place{
        position: relative;
        grid-area: top;
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .intro_top_button_box{
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .intro_text_place{
        grid-area: text;
    }
    .intro_content_place{
        grid-area: content;
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100%;
        height: 100%;
    }
    #intro_content_box{ 
        width: 80%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
    }
    /*이미지 크기*/
    .intro_content_image{
        position: absolute;
        height: auto;
        width: 250px;
    }
}





/* 이하 로그인 css*/

#logo{
    height: 51px;
}

.login_img_place{
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 25%;
    height: auto;
    /* max-height: 250px; */
}

.submit_box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.login_input{
    height: 30%;
    width: 100%;
    font-size: large;
}
@media (min-width: 641px) {
    .login_input{
        height: 30%;
        width: 100%;
    }
    
}

.userguide_box{
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* flex: none; */
    
}
/* .login_container{
     flex: none; 
     height: 100%;
     width: 100%;
     display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
} */
.login_container{
    flex: none; 
    height: 100%;
    max-height: 100vh;
    width: 100%;
    display: grid; 
    /* grid-template-rows: 20% 20% 10% auto; */
    grid-template-rows: 5% 30% 20% 10% 20%;

   
}
.login_button_place{
    width: 330px;
}


.login_button_box{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.login_button{
    width: 70%;
    max-width: 150px;

}


.social{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    /* height: 22%; */
    max-height: 20vh;
}




.social_container{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
}

.social_button_container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    /* max-width: 100%;
    max-height: 100%; */
}

.social_container_box{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 50%;
    border: 2px solid gray;
    border-radius: 9px;
}




.social_button{
    object-fit: fill;
width: auto;
height: 85%;
max-height: 60px;
max-width: 250px;
/* border-radius: 5px; */
}

.social_text{
    white-space: nowrap;
    margin-left: 10px;
    font-size: 1.2rem;
}


@media (min-width: 641px) {
    .social{
        display: flex;
        flex-direction: row;
        /* justify-content: space-between; */
        align-items: center;
        width: 100%;
        /* height: 22%; */
        max-height: 20vh;
    }
    .social_container{
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        width: 60%;
    }
    .social_container_box{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 30%;
        border: 2px solid gray;
        margin-left: 5px;
        margin-right: 5px;
        border-radius: 9px;
    }
    .social_button_container{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 50%;
        height: 100%;
        /* max-width: 100%;
        max-height: 100%; */
    }
    .social_button{
        object-fit: fill;
    width: auto;
    height: 50%;
    max-height: 60px;
    max-width: 250px;
    /* border-radius: 5px; */
    }
}


.social_text_google{
    /* margin-right: 5% */
}



.submit_box_input{
    height: 70%;
    width: 30%;
    min-width: max-content;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    /* align-items: center; */
}



.logo_page_div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*height 35%*/
    height: 100%;
    width: auto;
    position: relative;
    /* min-width: 200px;
    min-height: 200px; */
}
