#intro_container{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    height: 100%;
    width: 100%;
}

.intro_img_place{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 50%;
}

.intro_img_div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 58%;
}
.intro_img{
    max-height: 220px;
}
.intro_text{
    display: flex;
    flex-direction: column;;
    justify-content: center;
    align-items: center;
    width: 53%;
    height: 10%;
    font-size: 1.2rem;
}

#intro_button_div{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 20%;
}
/* .intro_button{
    height: 3rem;
    width: 8rem;
} */

/* 이하 로그인 css*/

#logo{
    height: 51px;
}

.login_img_place{
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 25%;
    height: auto;
    /* max-height: 250px; */
}

.submit_box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.userguide_box{
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* flex: none; */
    
}
/* .login_container{
     flex: none; 
     height: 100%;
     width: 100%;
     display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
} */
.login_container{
    flex: none; 
    height: 100%;
    max-height: 100vh;
    width: 100%;
    display: grid; 
    /* grid-template-rows: 20% 20% 10% auto; */
    grid-template-rows: 5% 30% 20% 10% 20%;

   
}
.login_button_place{
    width: 330px;
}


.login_button_box{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.login_button{
    width: 70%;
    max-width: 150px;

}


.social{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    /* height: 22%; */
    max-height: 20vh;
}



.social_container{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
}

.social_button_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    /* max-width: 100%;
    max-height: 100%; */
}



.social_button{
    object-fit: cover;
width: 70%;
height: 60%;
max-height: 60px;
max-width: 250px;
/* border-radius: 5px; */
}

.social_google{
    object-fit: cover;
    max-width: 258px;
    width: 100%;
    height: 63%;
    
}

.submit_box_input{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
}


.logo_page_div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*height 35%*/
    height: 100%;
    width: 100%;
    /* min-width: 200px;
    min-height: 200px; */
}
