.grid_container{
    width: 70%;
    height: 90%;
    display: grid;
    grid-template-areas: 
    "title"
    "email_input"
    "password_check"
    "email_check"
    "submit";
    grid-template-rows: 5% auto auto auto auto;
}

/*회원가입 텍스트*/
.signup_title{
    grid-area: 'title';
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}
/*이메일 & 중복체크*/
.grid_email_input{
    grid-area: 'email_input';
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.emailAndCheck_box{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 20%;
}
.email_input{
    width: 70%;
}


/*비밀번호 & 비밀번호체크*/
.passwordAndCheck_box{
    grid-area: 'password_check';
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* align-items: center; */
}

.password_error_box{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
/*메일인증 & 인증버튼*/
.email_check_box{
    grid-area: 'email_check';
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.email_check_input_box{
    display: flex;
    flex-direction: column;
    width: 70%;
}
.signup_button_box{
    display: flex;
    flex-direction: column;
}

/*회원가입 버튼*/
.grid_submit{
    grid-area: 'submit';
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 20%;
}



/*공통*/
/*에러 메시지*/
.error_box{
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
}

/*인풋*/
input{
    height: 25px;
}
button{
    /* height: 100%; */
}