* {

  padding: 0;
  box-sizing: border-box;
  background-color: rgb(0, 0, 0);
  color:white;
  max-height: 80vh;

  min-width: 10vw;
  max-width: 30vw;
  /* scroll-behavior: smooth; */
}
.App {
  text-align: center;
  
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  min-width: 100vw;
  background-color: white;
}