.box{
    border-radius: 15px;
    margin: 0.5%;
    width: 10vw;
    height: 7vh;
    font-size: 1rem;
    min-height: 50px;
    min-width: 95px;
    max-height: 150px;
    max-width: 150px;
    display: inline-block;
    
}
.box-contanier{
    /* overflow: auto; */
    text-align: center;
    margin-top: 80px;
    
    /* position: absolute; */ 
    
}

.box-contanier{
    overflow: auto;
    text-align: center;
    /* position: absolute; */ 
}

.select{
    background: blue;
    color: white;
    
    
}  
.un-select{
    background-color: rgb(58, 58, 58);
    color: white;
}
.not-tag-mode{
    background: red;
    color:white;
}
.not-select{
    background: red;
    color: white;
    
}
.header-container{
    font-size: 1rem;
    position: relative;
    
}
.search-page-container{
   height: 100%;
   width: 100%;
   position: absolute;  
   /* overflow: auto; */
}
.header-container-area{
    
    font-size: 1.4rem;
    margin-left: 10px;
    display: flex;
    
}
.header-container-area-button{
    position: absolute;
    width: 60px;
    height: 25px;
    font-size: 1rem;
   
    margin-left: 50px;
}
.header-container-recent{

   
    font-size: 1.3rem;
    color: white;
    background-color: rgb(87, 87, 87);
   
}
.header-container-area-box{
    
    border: solid 2px rgb(255, 255, 255);
    font-size: 1.3rem;
    position: absolute;
    z-index:1;
    width: 170px;
    background:black;
    
}
.error-tag{
    display: inline-block;
    font-size: 1.7rem;
}
.tag-view{
    font-size: 1.2rem;
}
.tag-view-title{
    color: red;
    text-shadow: 1px 0 white, 1px 0 white, 1px 0 white, 1px 0 white;
}
.header-container-area-box-link{
    border: solid 1px rgb(255, 255, 255);
    text-decoration-line: none;
    color: white;
    float: right;

    font-size: 1.1rem;
}
.header-container-img-box{
    max-height: 400px;
    display: flex;
    margin-bottom: 20px;
}

.header-container-img{
   height: 12vw;
   max-height: 400px;
   justify-content: center;
   margin: 0px auto;
   min-height: 200px;
   min-width: 200px;
   /* margin-bottom: 50px; */
}
.header-container-search-box{
    /* height: 30%;
    max-height: 40px;
    min-width: 200px; */
    margin-top: 13px;
    margin-bottom: 13px;
}
.header-container-search-input{
    display: block;
    margin: 0px auto;

    height: 3vh;
    max-height: 3vh;
    min-height: 1.8rem;
    width: 28%;
    font-size: 1.1rem;
    border-radius: 15px;
    min-width: 18rem;
    max-width: 33rem;
    
    border-radius: 15px;
    padding-left: 20px;
}
.header-container-main{
    height: 50px;
    position: relative;
    min-height: 50px;
    max-height: 500px;
    margin-left: 20px;
    margin-top: 20px;
}
.header-container-main2{
    height: 5vh;
    max-height: 1500px;
    min-height: 180px;
    width: 100%;
    text-align: center;
    position: sticky;
    top: 40px;
    
}

.header-container-tag-mode-box{
    text-align: center;
    height: 30%;
    max-height: 40px;
    min-width: 200px;
}
.header-container-tag-mode{
   
    position: absolute;
    height: 150%;
    width: 100%;
}
.header-container-tag-mode-button-left{
    display: inline-block;

    height: 3vh;
    max-height: 3vh;
    min-height: 1.8rem;
    width: 15%;
    font-size: 1.1rem;
    border-radius: 15px;
    min-width: 10rem;
    max-width: 17rem;

    font-size: 1rem;
    margin-right: 5px;
    border-radius: 15px;

    background-color: rgb(105, 105, 105);
    color: white;

}
.header-container-tag-mode-button-right{
    display: inline-block;

    height: 3vh;
    max-height: 3vh;
    min-height: 1.8rem;
    width: 15%;
    font-size: 1.1rem;
    border-radius: 15px;
    min-width: 10rem;
    max-width: 17rem;

    font-size: 1rem;
    margin-left: 5px;
    border-radius: 15px;

    background-color: rgb(105, 105, 105);
    color: white;

}

.header-container-tag-mode-button2{
    display: inline-block;
    margin: auto;
    height: 3vh;
    max-height: 3vh;
    min-height: 1.8rem;
    width: 30%;
    font-size: 1.1rem;
    border-radius: 15px;
    min-width: 20rem;
    max-width: 35rem;
    margin-bottom: 5px;
    background-color: rgb(105, 105, 105);
    color: white;

}

/* const TagContainerDiv = styled.div`
    position: relative;
    
    width: 20vw;
    //height: 50vh;
`; */