html{
  height: 100%;
  width: 100%;
  min-width: 350px;
  background-color: rgba(0, 0, 0, 0.281) ;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

body{
  background-color: rgba(7, 255, 255, 0.151);
  /* color: black; */
  box-sizing: border-box;
  height: 100%;
  width: 100%;
}

ul{
  list-style: none;
}

#root{
  height: 100%;
  width: 100%;
  display: grid;
  
  grid-template-areas: 
  "logo"
  "container"
  "footer";
  grid-template-rows: min-content auto max-content; 
  /* grid-template-columns: 100%; */
  color: black;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

#logo{
  background-color: rgba(0, 0, 255, 0.164);
  grid-area: 'logo';
  display: block;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: max-content;
}


#container{
  background-color: rgba(165, 42, 42, 0.336);
  grid-area: 'container';
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  overflow: auto;
}

.container{
  position: relative;
    width: 100%;
    height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 1rem;
  
}

#footer{
  background-color: rgba(128, 255, 0, 0.39);
  position: relative;
  color: blueviolet;
  grid-area:"footer";
  display: block;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: max-content;
}

.logo_page{
  width: 15rem;
  flex: none;
  /* bottom: 10rem; */
}

.logo_nav{
  position: relative;
  max-height: 50%;
  max-width: 32%;
  /* max-width: 50%; */
}


.App {
  text-align: center;
}

.hide{
  display: none !important;
}

#nav_bar{
  width: 100%;
}

/*이하 데스크탑 화면(640px이상)*/
@media (min-width: 639px){
 
  #nav_bar{
    width: 40%;
  }
  

  .logo_nav{
    position: relative;
  max-width: 32%;
  }

  .container{
    color: blue;
  }


}



/* @media (min-width: 800px){
  body{
    color: blue;
  }

  #container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
  }

} */
/* @media ( min-width: 1500px){
  body{
    color: red;
  }

  #container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
  }

} 
*/