
html{
  height: 100vh;
  /* width: 100vw; */
  max-width: 100vw;
  background-color: rgb(0, 0, 0) ;
  min-width: 515px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  
}
html::-webkit-scrollbar{
  display: none;
}

#container::-webkit-scrollbar{
  width: 8px;
  background-color: rgba(0, 0, 0, 0.033);
}
#container::-webkit-scrollbar-thumb{
  background-color: rgba(209, 203, 203, 0.233);
  border-radius: 10px;
}
#container::-webkit-scrollbar-track{
  background-color: rgba(0, 0, 0, 0.033);
}

body{
  background-color: rgba(7, 255, 255, 0.151);
  /* color: black; */
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  min-width: 515px;
  max-width: 940px;
}

.grid_h3{
display: grid;
grid-template-areas: 
"grid_h3_header"
"grid_h3_center"
"grid_h3_footer";
grid-template-rows: auto;
}
.grid_w3{
  display: grid;
  grid-template-areas: ". grid_w3_center .";
  grid-template-columns: 10% 10% 10%;
}

ul{
  list-style: none;
}

#root{
  height: 100%;
  width: 100%;
  display: grid;
  
  grid-template-areas: 
  "logo"
  "container"
  "footer";
  grid-template-rows: max-content auto max-content; 
  grid-template-columns:100%;
  color: black;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

#logo{
  background-color: rgb(0, 0, 0);
  grid-area: 'logo';
  display: block;
  display: grid;
  position: relative;
  grid-template-areas: "logo_left logo_center logo_right";
  grid-template-columns: 35% 30% 35%;
  width: 100%;
  height: max-content;
  /* height: max-content; */
}

.logo_nav_left{
  grid-area: 'logo_left';
  width: 100%;
 }
 .logo_nav_center{
  grid-area: 'logo_center';
  max-height: 100%;
  max-width: 100%;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
 }
 .logo_nav_right{
  grid-area: 'logo_right';
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
 }

 .logo_nav_center_logo{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  /* max-height: 100%; */
  /* max-width: 100%; */
}


#container{
  background-color: rgb(92, 81, 81);
  color: white;
  grid-area: 'container';
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;
  padding-top: 5px;
}


.container{
  background-color: black;
}

li:link{
  text-decoration: none;
}

.container{
  position: relative;
    width: 100%;
    height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 1rem;
  
}

#footer{
  background-color: rgba(128, 255, 0, 0.39);
  position: relative;
  color: blueviolet;
  grid-area:"footer";
  display: block;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: max-content;
}

.logo_page{
  object-fit: fill;
  width: 100%;
  height: 100%;
  /* width: 15rem; */
  flex: none;
  /* bottom: 10rem; */
}

.logo_nav{
  position: relative;
  height: 100%;
  width: 100%;
  min-width: 8%;
  /* max-width: 30vw; */
  /* max-height: 15vh; */
  max-width: 200px;
  max-height: 100%;
}


.App {
  text-align: center;
}

.hide{
  display: none !important;
}

#nav_bar{
  width: 100%;
}

#nav_bar_desktop{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

footer{

    max-width: 100%;
    height: 100%;
    position: absolute;  
    bottom: 0;
    left: 0;
} 

@media screen {
  html{
    min-width: 0;
  }
  
}

/*이하 데스크탑 화면(640px이상)*/
@media (min-width: 641px){
  html{
    min-width: 640px;
  }

  #logo{
    max-height: 100%;
    max-width: 100%;
  }

  html{
  min-width: 640px;
  }
 
  #nav_bar{
    width: 40%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  #nav_bar_desktop{
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .logo_nav_container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
  }

  .logo_nav_center_logo{
    position: relative;
    display: flex;
    max-height: 100%;
    max-width: 100%;
  }
  

  .logo_nav{
    position: relative;
    height: 100%;
  width: 100%;
  /* min-width: none; */
  /* min-height: 3%; */
  /* height: 3%; */
  
  /* max-width: 15vw; */
  max-height: 6vh;
    /* height: 100%;
    width: 100%; */
    /* max-height: 100%; */
    /* max-width: 100%; */
 
  }

  /* .social{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    height: 22%;
} */

  .container{
    color: white;
  }



}



/* @media (min-width: 800px){
  body{
    color: blue;
  }

  #container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
  }

} */
/* @media ( min-width: 1500px){
  body{
    color: red;
  }

  #container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  641   600 width이 서로 간섭하며 바뀜
}   
*/