.show-nickname{
    font-size: 1.5rem;
    margin-left: 30px;
    
}
.logo-contanier{
    
    text-align: center;
}
.logo{
    margin: 0 auto;
}
.show-box{
    display: flex;
    justify-content: left;
}